body {
  margin:0px;
  background-image:url('../../images/首页/bg.png');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:200px 30px;
  position:relative;
  left:-0px;
  width:1414px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:25px;
}
#u1133 {
  position:absolute;
  left:100px;
  top:3px;
  width:1200px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1134 {
  position:absolute;
  left:2px;
  top:4px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1135 {
  position:absolute;
  left:467px;
  top:68px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1137 {
  position:absolute;
  left:533px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1138 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1139 {
  position:absolute;
  left:631px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
}
#u1141 {
  position:absolute;
  left:729px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#3399FF;
}
#u1142 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1143 {
  position:absolute;
  left:827px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1144 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1145 {
  position:absolute;
  left:926px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1147 {
  position:absolute;
  left:1024px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1149 {
  position:absolute;
  left:1220px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1150 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1151 {
  position:absolute;
  left:0px;
  top:140px;
  width:1400px;
  height:410px;
  overflow:hidden;
}
#u1151_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:410px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1151_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1822px;
  height:410px;
}
#u1152 {
  position:absolute;
  left:-211px;
  top:0px;
  width:1822px;
  height:410px;
}
#u1153 {
  position:absolute;
  left:2px;
  top:197px;
  width:1818px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1154 {
  position:absolute;
  left:0px;
  top:520px;
  width:1400px;
  height:100px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1151_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1156 {
  position:absolute;
  left:0px;
  top:520px;
  width:1400px;
  height:100px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1822px;
  height:410px;
}
#u1158 {
  position:absolute;
  left:-211px;
  top:0px;
  width:1822px;
  height:410px;
}
#u1159 {
  position:absolute;
  left:2px;
  top:197px;
  width:1818px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1151_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1733px;
  height:410px;
}
#u1160 {
  position:absolute;
  left:-166px;
  top:0px;
  width:1733px;
  height:410px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:197px;
  width:1729px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1162 {
  position:absolute;
  left:0px;
  top:520px;
  width:1400px;
  height:100px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1151_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:432px;
}
#u1164 {
  position:absolute;
  left:-260px;
  top:0px;
  width:1920px;
  height:432px;
}
#u1165 {
  position:absolute;
  left:2px;
  top:208px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1166 {
  position:absolute;
  left:0px;
  top:520px;
  width:1400px;
  height:100px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1151_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:432px;
}
#u1168 {
  position:absolute;
  left:-260px;
  top:0px;
  width:1920px;
  height:432px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:208px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  position:absolute;
  left:0px;
  top:520px;
  width:1400px;
  height:100px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1151_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:410px;
}
#u1172 {
  position:absolute;
  left:100px;
  top:0px;
  width:1200px;
  height:410px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:197px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1174 {
  position:absolute;
  left:673px;
  top:33px;
  width:97px;
  height:37px;
  color:#FFFFFF;
}
#u1175 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1176 {
  position:absolute;
  left:0px;
  top:520px;
  width:1400px;
  height:100px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:42px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1178 {
  position:absolute;
  left:120px;
  top:300px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1178_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1178.mouseOver {
}
#u1179 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  word-wrap:break-word;
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1180 {
  position:absolute;
  left:1228px;
  top:300px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1180_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
}
#u1180.mouseOver {
}
#u1181 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  word-wrap:break-word;
}
#u1182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1183 {
  position:absolute;
  left:656px;
  top:515px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1183_img.selected {
}
#u1183.selected {
}
#u1184 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1185 {
  position:absolute;
  left:672px;
  top:515px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1185_img.selected {
}
#u1185.selected {
}
#u1186 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1187 {
  position:absolute;
  left:688px;
  top:515px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1187_img.selected {
}
#u1187.selected {
}
#u1188 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1189 {
  position:absolute;
  left:702px;
  top:515px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1189_img.selected {
}
#u1189.selected {
}
#u1190 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1191 {
  position:absolute;
  left:718px;
  top:515px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1191_img.selected {
}
#u1191.selected {
}
#u1192 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1193 {
  position:absolute;
  left:734px;
  top:515px;
  width:10px;
  height:10px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1193_img.selected {
}
#u1193.selected {
}
#u1194 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1195 {
  position:absolute;
  left:1122px;
  top:68px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1196 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:56px;
}
#u1197 {
  position:absolute;
  left:100px;
  top:50px;
  width:338px;
  height:56px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:20px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:79px;
}
#u1199 {
  position:absolute;
  left:90px;
  top:571px;
  width:1221px;
  height:79px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:32px;
  width:1217px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:26px;
}
#u1201 {
  position:absolute;
  left:93px;
  top:107px;
  width:257px;
  height:26px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:5px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:1057px;
}
#u1203 {
  position:absolute;
  left:184px;
  top:673px;
  width:1033px;
  height:1057px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:520px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:34px;
}
#u1205 {
  position:absolute;
  left:656px;
  top:1740px;
  width:554px;
  height:34px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:9px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:451px;
}
#u1207 {
  position:absolute;
  left:7px;
  top:2055px;
  width:1400px;
  height:450px;
  font-size:48px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:196px;
  width:1396px;
  word-wrap:break-word;
}
#u1209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:121px;
}
#u1209 {
  position:absolute;
  left:-243px;
  top:1816px;
  width:1900px;
  height:121px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:52px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  position:absolute;
  left:1125px;
  top:1852px;
  width:186px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
